.bin-row {
    border: 1px solid;
    border-radius: 4px;
    margin: 10px 5px;
}

.byte-row {
    display: flex;
    justify-content: center;
}

.bit-input {
    width: 15px;
    width: 25px;
    margin: 5px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 3px;
    text-align: center;
}
